@if mgwt.css pretty {
  @external mgwt-SoundDialogPanel, mgwt-SoundDialogPanel-container, mgwt-SoundDialogPanel-title;
  @external mgwt-SoundDialogPanel-content, mgwt-SoundDialogPanel-footer;
  @external mgwt-SoundDialogOverlay, mgwt-SoundDialogOverlay-shadow;
}


.mgwt-SoundDialogOverlay {
  z-index: 100;
}

.mgwt-SoundDialogOverlay-shadow {
  background-color: rgba(0, 0, 0, 0.4);
}


.mgwt-SoundDialogPanel {
  border: solid 1px #72767b;
  padding: 0px;
  opacity: 1;
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  color: #454545;
  border-radius: 5px;
  min-width: 150px;
}

.mgwt-SoundDialogPanel-container {
  color: #ffffff;
  padding: 5px;
}

.mgwt-SoundDialogPanel-title {
  color: #ffffff;
  background: none;
  border: none;
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
}

.mgwt-SoundDialogPanel-content {
  margin: 10px;
  text-align: center;
}

@if user.agent ie10 {
	.mgwt-SoundDialogPanel-footer {
		display: -ms-flexbox;
		-ms-flex-pack: center;
	}
}

@if user.agent safari {
	.mgwt-SoundDialogPanel-footer {
		display: -webkit-box; /* iOS < 7 && Android < 4.4*/
	    display: -webkit-flex;
	    -webkit-box-pack: center; /* iOS < 7 && Android < 4.4*/
	    -webkit-justify-content: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-SoundDialogPanel-footer {
 	 	display: -moz-box;
        -moz-justify-content: center;
	}
}

.mgwt-SoundDialogPanel-footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

