@if mgwt.css pretty {
  @external mgwt-SoundDialogButton, mgwt-SoundDialogButton-ok;
  @external mgwt-SoundDialogButton-cancel, mgwt-SoundDialogButton-active;
}
.mgwt-SoundDialogButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  text-align: center;
  background-color: #e5e9e8;
  border: 1px solid #9daca9;
  border-radius: 6px;
}

@if mgwt.formfactor desktop {
  .mgwt-SoundDialogButton  {
    cursor: pointer;
  }
}

@if user.agent ie10 {
  .mgwt-SoundDialogButton  {
    -ms-flex: 1 1;
  }
}

.mgwt-SoundDialogButton-ok, .mgwt-SoundDialogButton-cancel {
  margin-top: 10px;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  min-width: 55px;
  height: 24px;
  line-height: 24px;
  text-shadow: none;
  background-color: #288edf;
  border: 1px solid #134f7f;
  color: #fff;
  box-shadow: none;
}

.mgwt-SoundDialogButton-active {
  color: #eff1f1;
  border: 1px solid #0036ff;
  outline: 0;
}
