@if mgwt.css pretty {
	@external mgwt-MalaOverlayMenu, mgwt-MalaOverlayMenu-top;
	@external mgwt-MalaOverlayMenu, mgwt-MalaOverlayMenu-middle;
	@external mgwt-MalaOverlayMenu-animation, mgwt-MalaOverlayMenu-bottom;
	@external mgwt-MalaOverlayMenu-animation, mgwt-MalaOverlayMenu-info; 
}



.mgwt-MalaOverlayMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
}

.mgwt-MalaOverlayMenu-top {

}

.mgwt-MalaOverlayMenu-middle {

}

/*.mgwt-MalaOverlayMenu-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  width: 0;
  height: 100px;
}*/

.mgwt-MalaOverlayMenu-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow: hidden;
}

.mgwt-MalaOverlayMenu-bottom {

}

@if user.agent safari {
  .mgwt-MalaOverlayMenu-middle {
    -webkit-transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-bottom {
    -webkit-transition-property: left;
  }
}

@if user.agent ie10 {
  .mgwt-MalaOverlayMenu-middle {
    transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-bottom {
    transition-property: left;
  }
}

@if user.agent gecko1_8 {
  .mgwt-MalaOverlayMenu-middle {
    -moz-transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-bottom {
    -moz-transition-property: left;
  }
}
