@if mgwt.css pretty {
  @external mgwt-HamburgerDialogPanel, mgwt-HamburgerDialogPanel-container, mgwt-HamburgerDialogPanel-title;
  @external mgwt-HamburgerDialogPanel-content;
  @external mgwt-HamburgerDialogOverlay, mgwt-HamburgerDialogOverlay-shadow;
}

.mgwt-HamburgerDialogOverlay {
  z-index: 100;
}

.mgwt-HamburgerDialogOverlay-shadow {
  background-color: rgba(0, 0, 0, 0.4);
}

.mgwt-HamburgerDialogPanel {
  border: solid 1px #72767b;
  padding: 0px;
  opacity: 1;
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  color: #454545;
  border-radius: 5px;
  min-width: 150px;
}

.mgwt-HamburgerDialogPanel-container {

}

.mgwt-HamburgerDialogPanel-title {
  color: #ffffff;
  background: none;
  border: none;
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
}

.mgwt-HamburgerDialogPanel-content {
  margin: 10px;
  text-align: center;
}


