@if mgwt.css pretty {
  @external mgwt-HelpDialogPanel, mgwt-HelpDialogPanel-container;
  @external mgwt-HelpDialogOverlay, mgwt-HelpDialogOverlay-shadow;
}

.mgwt-HelpDialogOverlay {
  z-index: 100;
}

.mgwt-HelpDialogOverlay-shadow {
  background-color: rgba(0, 0, 0, 0.4);
}

.mgwt-HelpDialogPanel {
  border: solid 1px #72767b;
  padding: 0px;
  opacity: 1;
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  color: #454545;
  border-radius: 5px;
  min-width: 150px;
}



.mgwt-HelpDialogPanel-container {

}

