@if mgwt.css pretty {
	@external mgwt-MalaOverlayMenu, mgwt-MalaOverlayMenu-nav;
	@external mgwt-MalaOverlayMenu-animation, mgwt-MalaOverlayMenu-main;
	@external mgwt-MalaOverlayMenu-animation, mgwt-MalaOverlayMenu-info; 
}

body.landscape {
    min-height: 550px;
}

@media (orientation: landscape) {
  .malabi-login-user-icon.malabi-login-icon{
    top:34%;
  }
  
  .malabi-login-password-icon{
  	top:54%;
  }
  
  .com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-TextBox.malabi-login-textbox.malabi-login-user-textbox{
  	top:36%;
  }
  
  .com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-TextBox.malabi-login-password-textbox{
  	top:57%;
  }
  
  .gwt-HTML.malabi-login-line.malabi-login-user-line {
    top: 45%;
    }
    
   .gwt-HTML.malabi-login-line.malabi-login-password-line {
    top: 65%;
    }
    
	.gwt-HTML.malabi-sound-info-msg, .gwt-HTML.malabi-login-info-msg, .gwt-HTML.malabi-sound-info-msg{
	top : 83%;
	}
	
	.gwt-HTML.malabi-help-info-panel {
    color: blue;
	}
	
     .gwt-HTML.malabi-buttom-panel-eltel-logo,
    .com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-buttom-panel-help-button{
    display: none;
    }
    
    .gwt-HTML.malabi-login-label.malabi-login-label1-label{
    	top: 10%
    }
    .gwt-HTML.malabi-login-label.malabi-login-label2-label{
    	top: 5%;
    }
    .com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-login-button{
    	top: 69%;
    }
}

.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-top,
.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-middle,
.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-bottom {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-top {
  top: 0;
  bottom:0;
  height: 10%;
}

.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-middle {
  top: 10%;
  bottom:10%;
  height: 80%;
}

.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu-bottom {
  bottom: 0%;
  height: 10%;
}

.com-eltel-malabi-client-widget-menu-malaoverlay-MalaOverlayMenuAppearance-MenuCss-mgwt-MalaOverlayMenu {
	max-width: 414px;
    max-height: 823px;
}

.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderTitleCss-mgwt-HeaderPanel-title.malabi-buttom-panel-label{
	right: 0;
    position: absolute;
    font-size: 16px;
    left: 0;
    text-align: center;
}

.malabi-buttom-panel-eltel-logo img{
    width: 70px;
    align-self: center;
}

.malabi-buttom-panel-eltel-logo{
	left: 7px;
    position: absolute;
}

.malabi-map-panel-google-map{
    position: fixed;
    width: 100%;
    height: 100%;
}


.malabi-map-panel-google-map iframe {
	width: 100%;
    height: 100%;
}

.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-login-info-panel.hidden,
.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-sound-info-panel.hidden,
.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-main-screen-info-panel.hidden{
	display: none;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-main-button{
    border-radius: 100%;
    background-color: red;
    align-self: center;
    padding: 6%;
    position: fixed;
    color: white;
    align-self: center;
    font-size: 62px;
    width: 80px;
    height: 70px;
    margin: 0px;
    border: none;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}

.com-googlecode-mgwt-ui-client-widget-panel-flex-FlexPanelAppearance-FlexPanelCss-mgwt-FlexPanel.malabi-top-panel {
	min-height: 100%;
	background-color: rgb(0, 32, 96);
}

.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderPanelCss-mgwt-HeaderPanel.malabi-empty-top-panel{
	background-color: rgb(1, 1, 37);
	height: 100%;
}

.malabi-login-middle-screen{
    background-color: rgb(1, 1, 37);
}

.malabi-login-line{
	height: 2px;
	background-color: white;
	position: fixed;
    width: 70%;
    align-self: center;
}

.malabi-login-user-line{
    top: 44.5%;
}
  
.malabi-login-password-line{
    top: 61.5%;
}

.malabi-login-icon{
    color: white;
    right: 15%;
    position: fixed;
    font-size: larger;
}

.malabi-login-user-icon{
    top: 39%;
}

.malabi-login-password-icon{
    top: 56%;
}

.com-googlecode-mgwt-ui-client-widget-panel-flex-FlexPanelAppearance-FlexPanelCss-mgwt-FlexPanel.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderPanelCss-mgwt-HeaderPanel.malabi-buttom-panel{
	background-color: rgb(0, 32, 96);
}

.com-googlecode-mgwt-ui-client-widget-panel-flex-FlexPanelAppearance-FlexPanelCss-mgwt-FlexPanel.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderPanelCss-mgwt-HeaderPanel.malabi-buttom-panel.malabi-login-buttom-panel{
	background-color: rgb(1, 1, 37);
}

.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderPanelCss-mgwt-HeaderPanel.malabi-buttom-panel {
    height: 100%;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-buttom-panel-help-button{
	right: 2%;
    position: absolute;
    color: white;
    background-color: red;
    border: none;
    font-size: 38px;
    margin: 0px;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-family: Helvetica, sans-serif;
}

.malabi-buttom-panel-label{
	right: 31%;
    position: fixed;
    bottom: 32%;
    color: white;
    font-size: 16px;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-login-button{
    background-color: red;
    border-radius: 26%;
    position: fixed;
    top: 68%;
    width: 25%;
    background-color: red;
    text-align: center;
    color: white;
    align-self: center;
    border-color: transparent;
    border-radius: 58% /64px;
    padding: 3px 10px;
}

.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-TextBox.malabi-login-textbox{
	align-self: center;
    position: fixed;
    background-color: transparent;
    font: bold 20px Arial;
}

.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-TextBox.malabi-login-user-textbox{
    top: 40%;
}

.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-TextBox.malabi-login-password-textbox{
    top: 57%;
}

.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-login-info-panel,
.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-sound-info-panel,
.com-googlecode-mgwt-ui-client-widget-panel-PanelAppearance-PanelCss-mgwt-Panel.malabi-main-screen-info-panel{
	position: fixed;
    bottom: 1%;
    width: 92%;
    align-self: center;
    margin: 0;
    line-height: 15px;
}

.gwt-HTML.malabi-login-info-msg,
.gwt-HTML.malabi-sound-info-msg,
.gwt-HTML.malabi-main-screen-info-msg{
	text-align: center;
    color: red;	
}


.malabi-login-textbox input.gwt-TextBox.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-InputBox-box,
.malabi-login-textbox input.gwt-PasswordTextBox.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-InputBox-box {
    background: transparent;
    color : white;
}

.malabi-login-textbox ::placeholder {
    color: white;
}

.malabi-login-label{
	position: fixed;
    color: white;
    align-content: center;
    align-self: center;
}

.malabi-login-label1-label{
	top: 0%;
	font-size: 177%;
}

.malabi-login-label2-label{
	 top: 11%;
	  font-size: 63%;
}

.malabi-main{
	background-color: rgb(1, 1, 37);
}

.malabi-main-button-volume-up {
	top: 4%;
}
.malabi-main-label-volume-up {
	top: 28%;
}

.malabi-main-button-lightbulb {
	top: 34%;
}
.malabi-main-label-lightbulb {
	top: 58%;
}

.malabi-main-button-map-marked-alt {
	top: 64%;
}
.malabi-main-label-map-marked-alt {
	top: 88%;
}

.com-googlecode-mgwt-ui-client-widget-input-InputAppearance-InputCss-mgwt-InputBox-box{
	background-color: transparent;
}

.malabi-password-textbox{
	height: 2px;
    position: relative;
    top: 68%;
    width: 63%;
    right: 13%;
}

.malabi-main-label{
    position: fixed;
    color: white;
    align-self: center;
    font-size: larger;
    margin: -5px 0px 0px 0px
}

.malabi-sound{
	background-color: rgb(1, 1, 37);
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-sound-button{
    position: fixed;
    background-color: white;
    border-radius: 100%;
    line-height: 29px;
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    padding: 7px;
    top:1%;
}


.malabi-sound-checkbox .com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-on,
.malabi-sound-checkbox .com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-off,
.malabi-sound-checkbox .com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-middle,
.malabi-sound-checkbox .com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-middle-content{
	display:none;
}

.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox.malabi-sound-checkbox{
	background-color: transparent;
    width: 27px;
    border-radius: 2px;
    right: 5%;
    position: fixed;
    border: 1px solid white;
    font-size: 30px;
}

.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox.malabi-sound-checkbox.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-notchecked{
	color : transparent;
}

.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox.malabi-sound-checkbox.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-checked{
	color : green;
}

i.fas.fa-check {
    color: white;
    font-size: 20px;
}

.malabi-sound-button-music{
    right: 2%;
    top: 3%;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-sound-button.malabi-sound-button-play{
    right: 80%;
    top: 1%;
    color: green;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-sound-button.malabi-sound-button-stop{
    right: 80%;
    top:13%;
    color: red;
}

.malabi-sound-label{
	position: fixed;
    right: 18%;
    color: white;
    font-size: 20px
}

.malabi-sound-time-label{
	position: fixed;
    right: 18%;
    color: yellow;
    font-size: 16px;
}

.malabi-sound-time-label.hidden{
  	display: none;
}

.malabi-sound-label-title{
	right: 20%;
	top: 6%;
}

.malabi-sound-label-choose{
	right: 20%;
	top: 16%;
}

.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel.malabi-sound-file-dialog{
	background-color: rgb(170, 170, 178);
	height: 77%;
    width: 85%;
    border: 1px solid rgb(71, 61, 63);
    position: relative;
}

.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel-footer.malabi-sound-file-dialog-buttons{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
}

.malabi-sound-file-button.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogButtonCss-mgwt-SoundDialogButton {
    background-color: rgb(0, 32, 96);
    font-size: x-large;
    margin-top: 4px;
}

.malabi-sound-file-label{
	width: 100%;
    background-color: rgb(0, 32, 96);
}

.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel-title.malabi-sound-file-title{
	width: 100%;
    background-color: rgb(0, 32, 96);
    font-size: xx-large;
    height: 10%;
    margin: 0;
    padding: 0;
}

.malabi-sound-file-radio{
	color: black;
	font-size: larger;
    padding: 3px;
}
.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel-content.malabi-sound-file-content{
	height: 80%;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

.malabi-sound-file-content.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel-container.malabi-sound-file-container{
	height: 100%;
}

.malabi-sound-file-container.com-eltel-malabi-client-sound-popup-SoundDialogPanelAppearance-SoundDialogCss-mgwt-SoundDialogPanel-container.malabi-sound-file-container{
	padding: 0px;
	height: 100%;
}


.malabi-sound-file-radio label.com-googlecode-mgwt-ui-client-widget-input-radio-MRadioButtonAppearance-MRadioButtonCss-mgwt-RadioButton-label {
    padding: 0px 35px 0px 0px;
}

.malabi-sound-file-radio input.com-googlecode-mgwt-ui-client-widget-input-radio-MRadioButtonAppearance-MRadioButtonCss-mgwt-RadioButton-input{
	position: fixed;
	-webkit-appearance: radio;
    opacity: 1;
}

.malabi-light-label{
	    color: white;
	    position: fixed;
}

.malabi-light-quarter-title-panel{
	display: flex;
	flex-direction: column;
	top: 1%;
	width: 98%;
	background: white;
	right: 1%;
	position: relative;
	border: 1px solid rgb(170,170,178);
	margin: 8px 0px 0px;
	font-weight: bold;
}

.com-googlecode-mgwt-ui-client-widget-panel-scroll-ScrollPanelAppearance-ScrollPanelCss-mgwt-Scrollbar-Bar{
	background-color: rgb(170,170,178);
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-light-quarter-expand-icon {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 39px;
    margin: 0;
    padding: 0px;
    height: 100%;
    border-radius: 0;
    text-align: center;
    width: 38px;
    line-height: 31px;
}


.malabi-light-quarter-panel{
	position: relative;
    background: white;
	width: 94%;
    right: 3%;
    border: 1px solid rgb(99, 99, 99);
    overflow: hidden;
    margin: 7px 0px 0px 10px;
}


.malabi-light-quarter-panel.hidden{
    height: 0px;
    border: none;
}


.gwt-Label.malabi-light-label.malabi-light-quarter-panel-all-label {
    position: relative;
    color: rgb(0, 32, 96);
    top: 6px;
    right: 23%;
}
.malabi-light-quarter-all-panel.hidden{
	height: 0px;
    border: none;
}

.malabi-light-quarter-all-panel{
	position: relative;
	display: flex;
	background-color: rgb(170,170,178);
	font-weight: bold;
	border: 1px solid rgb(99,99,99);
	
}

.malabi-light-quarter-area-panel{
	position: relative;
	display: flex;
	font-weight: bold;
	height:  361px;
    border: 2px solid rgb(99,99,99);
    background-size: 100% 100%;
    overflow: hidden;
}

.malabi-light-quarter-area-panel.hidden{
	height: 0px;
	border: none;
}

.malabi-light-quarter-area-panel.index_1{background-image: url(images/light/quarter_1.png);}
.malabi-light-quarter-area-panel.index_2{background-image: url(images/light/quarter_2.png);}
.malabi-light-quarter-area-panel.index_3{background-image: url(images/light/quarter_3.png);}
.malabi-light-quarter-area-panel.index_4{background-image: url(images/light/quarter_4.png);}
.malabi-light-quarter-area-panel.index_5{background-image: url(images/light/quarter_5.png);}
.malabi-light-quarter-area-panel.index_6{background-image: url(images/light/quarter_6.png);}
.malabi-light-quarter-area-panel.index_7{background-image: url(images/light/quarter_7.png);}
.malabi-light-quarter-area-panel.index_8{background-image: url(images/light/quarter_8.png);}
.malabi-light-quarter-area-panel.index_9{background-image: url(images/light/quarter_9.png);}
.malabi-light-quarter-area-panel.index_10{background-image: url(images/light/quarter_10.png);}

.malabi-light-quarter-index-area-panel.index_1_0{top: 59%; right: 56%;}
.malabi-light-quarter-index-area-panel.index_1_1{top: 61%; right: 24%;}
.malabi-light-quarter-index-area-panel.index_1_2{top: 31%; right: 43%;}

.malabi-light-quarter-index-area-panel.index_2_0{top: 45%; right: 18%;}
.malabi-light-quarter-index-area-panel.index_2_1{top: 53%; right: 49%;}

.malabi-light-quarter-index-area-panel.index_3_0{top: 66%; right: 62%;}
.malabi-light-quarter-index-area-panel.index_3_1{top: 62%; right: 38%;}
.malabi-light-quarter-index-area-panel.index_3_2{top: 28%; right: 44%;}

.malabi-light-quarter-index-area-panel.index_4_0{top: 40%; right: 30%;}
.malabi-light-quarter-index-area-panel.index_4_1{top: 69%; right: 53%;}

.malabi-light-quarter-index-area-panel.index_5_0{top: 33%; right: 45%;}
.malabi-light-quarter-index-area-panel.index_5_1{top: 63%; right: 25%;}

.malabi-light-quarter-index-area-panel.index_6_0{top: 31%; right: 56%;}
.malabi-light-quarter-index-area-panel.index_6_1{top: 51%; right: 29%;}

.malabi-light-quarter-index-area-panel.index_7_0{top: 65%; right: 24%;}
.malabi-light-quarter-index-area-panel.index_7_1{top: 52%; right: 63%;}
.malabi-light-quarter-index-area-panel.index_7_2{top: 22%; right: 30%;}

.malabi-light-quarter-index-area-panel.index_8_0{top: 48%; right: 17%;}
.malabi-light-quarter-index-area-panel.index_8_1{top: 48%; right: 63%;}
.malabi-light-quarter-index-area-panel.index_8_2{top: 48%; right: 40%;}

.malabi-light-quarter-index-area-panel.index_9_0{top: 40%; right: 7%;}
.malabi-light-quarter-index-area-panel.index_9_1{top: 40%; right: 57%;}
.malabi-light-quarter-index-area-panel.index_9_2{top: 44%; right: 28%;}

.malabi-light-quarter-index-area-panel.index_10_0{top: 45%; right: 40%;}
.malabi-light-quarter-index-area-panel.index_10_1{top: 16%; right: 10%;}


.gwt-HTML.malabi-light-quarter-panel-info-msg{
	text-align: center;
    color: blue;	
    line-height: 22px;
    margin-top: -2px;
}

.gwt-HTML.malabi-light-quarter-panel-info-msg.empty{
    line-height: 33px;
    margin-top: 18px;
}

.malabi-light-quarter-panel-info-panel{
	position: absolute;
    top: 83%;
    width: 87%;
    align-self: center;
    margin: 0;
}

.malabi-light-quarter-panel-info-panel.hidden{
	display: none;
}

.malabi-light-quarter-index-area-panel{
	position: absolute;
	height: fit-content;
}


.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox.malabi-light-quarter-panel-all-checkbox{
	position: relative;
	right: 19%;
    top: 1px;
    display: flex;
}

.malabi-light-quarter-panel-subarea-panel{
    display: flex;
    flex-direction: row;
    background: white;
    height: 29px;
    line-height: 29px;
    position: relative;
    margin: 0;
    font-weight: bold;
    border: 1px solid rgb(99,99,99);
}

.malabi-light-quarter-panel-subarea-label{
    color: black;
    background: white;
    width: 98%;
    text-align: center;
    position: relative;
}
.gwt-Label.malabi-light-label.malabi-light-quarter-title {
    color: black;
    background: white;
    width: 80%;
    text-align: center;
    margin-right: 27px;
    line-height:29px;
}

.gwt-Label.malabi-light-label.malabi-light-quarter-panel-area-label {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox-checked.malabi-light-quarter-panel-area-checkbox {
    position: relative;
}

.com-googlecode-mgwt-ui-client-widget-input-checkbox-MCheckBoxAppearance-CheckBoxCss-mgwt-CheckBox..malabi-light-quarter-panel-area-checkbox{
	
	position: fixed;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-top-panel-button{
    position: absolute;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 58px;
    margin: 0px;
    padding: 0px;
	border-radius: 0;
    text-align: center;
    line-height: 42px
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-top-panel-button-bars{
    left: 2%;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-top-panel-button-arrow-right{
    right: 2%;
    height: 58px;
}

.com-googlecode-mgwt-ui-client-widget-header-HeaderAppearance-HeaderTitleCss-mgwt-HeaderPanel-title.malabi-top-panel-title{
    position: absolute;
	right: 13%;
    left: 14%;
    border-radius: 0px;
}

.com-eltel-malabi-client-topPanel-popup-HamburgerDialogPanelAppearance-HamburgerDialogCss-mgwt-HamburgerDialogPanel.malabi-bars-dialog{
	position: fixed;
    top: 10%;
    left: 0px;
    min-width: 178px
}
.com-eltel-malabi-client-topPanel-popup-HamburgerDialogPanelAppearance-HamburgerDialogCss-mgwt-HamburgerDialogPanel-container{
  color: #ffffff;
}
.com-eltel-malabi-client-topPanel-popup-HamburgerDialogPanelAppearance-HamburgerDialogCss-mgwt-HamburgerDialogPanel-content.malabi-bars-dialog-content{
	margin: 6px 4px 6px 5px;
}

.com-eltel-malabi-client-topPanel-popup-HamburgerDialogPanelAppearance-HamburgerDialogButtonCss-mgwt-HamburgerDialogButton-ok.malabi-bars-dialog-button-cancel {
    background-color: rgb(0, 32, 96);
}

.malabi-bars-dialog-buttons{
	
}

.com-eltel-malabi-client-topPanel-popup-HamburgerDialogPanelAppearance-HamburgerDialogCss-mgwt-HamburgerDialogPanel-title.malabi-bars-dialog-title{
	background-color: rgb(0, 32, 96);
    left: 4%;
    top: 0%;
    text-align: left;
    height: 30px;
    font-size: x-large;
    right: 80%;
    padding: 0px 0px 0px 10px;
    margin-bottom: 0px;
}

.malabi-bars-dialog-flow-panel{
	    display: flex;
}

.malabi-bars-dialog-label-button{
	    align-self: center;
	    color: black;  
        font-weight: bold; 
}

.malabi-main .material-icons{
    font-size: 71px;
}

.malabi-top-panel .material-icons {
    font-size: 50px;
}

.malabi-sound-button .material-icons {
    font-size: 37px;
}

.malabi-bars-dialog-content .material-icons {
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.malabi-sound-checkbox .material-icons {
    font-size: 27px;
    font-weight: bold;
}

.com-googlecode-mgwt-ui-client-widget-button-ButtonAppearance-ButtonCss-mgwt-Button.malabi-bars-dialog-icon-button {
        width: 22px;
    height: 18px;
    border: none;
    background: transparent;
    margin: 0px 5px 0px 5px;
    padding: 6px 5px 6px 10px;
}

.malabi-bars-dialog-flow-panel.malabi-bars-dialog-flow-panel-question,
.malabi-bars-dialog-flow-panel.malabi-bars-dialog-flow-panel-power-off{
	padding: 22px 0px 0px 0px;
}

.malabi-bars-dialog-icon-button .fas {
    font-size: large;
}


@if user.agent safari {
  .mgwt-MalaOverlayMenu-nav {
    -webkit-transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-main {
    -webkit-transition-property: left;
  }
}

@if user.agent ie10 {
  .mgwt-MalaOverlayMenu-nav {
    transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-main {
    transition-property: left;
  }
}

@if user.agent gecko1_8 {
  .mgwt-MalaOverlayMenu-nav {
    -moz-transition-property: opacity;
  }
  .mgwt-MalaOverlayMenu-main {
    -moz-transition-property: left;
  }
}
